body {
   border-color: rgba(135, 244, 182, 0.98);
   background-image: url("img/fondologin.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
 #botonlogin {
    cursor: pointer;
    width: 300px;
    height: 100px;
    background-image: url("img/botonlogin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);

}
