body {
   background-image: url("img/fondoprincipal.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
* {
   margin: 0;
   padding: 0;
   border:0;
   box-sizing: border-box;
   font-family: arial;

}
#lateral {
   display: inline-block;
   width: 18%;
   height: 100%;
   float: left;
}
#logo {
   background-color: #343c4c;
   width: 100%;
   height: 27%;
   box-shadow: 0px 0px 7px black;

}
#imagenlogo {
   width: 100%;
   height: 80%;
   background-image: url("img/logoprincipal.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
#modalidades {
   width: 70%;
   height: 20%;
   position: relative;
   top: -3%;
   margin: auto;
   background-image: url("img/modalidades.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 75%;
}
#modalidadruleta {
   position: relative;
   left: 12%;
   height: 80%;
   width: 23%;
   cursor: pointer;
   display: inline-block;
}
#modalidadcoinflip {
   position: relative;
   left: 17%;
   height: 90%;
   width: 18%;
   cursor: pointer;
   display: inline-block;
}
#modalidadcrash {
   position: relative;
   left: 23%;
   height: 100%;
   width: 20%;
   cursor: pointer;
   display: inline-block;
}

#chat {
   background-color: rgba(40,49,66,0.76);
   width: 100%;
   height: 73%;
}
#chatcontenido {
   width: 100%;
   height: 85%;
   overflow-y: scroll;
}
#chatmensaje {
   width: 95%;
   height: 10%;
   margin-left: 2.5%;
   margin-top: 5%;
   background-color: #343c4c;
   color: rgb(231, 172, 21);
}
#chatmensaje:focus {
   outline: none;
   border: 1px solid rgb(231, 172, 21);
}
.mensajecabecera{
   width: 100%;
   height: 8%;

}
.mensajeimagen {
   width: 25px;
   height: 25px;
   margin-top: 5px;
   margin-left: 5px;
   border-radius: 34%;
}
.mensajenombre {
   color: rgb(231, 172, 21);
   position: relative;
   top:-10px;
   left: 10px;
}
.mensajetexto {
   color: grey;
   margin-left: 10px;
   margin-top: 5px;
   overflow-wrap: break-word;
   font-size: 15px;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(231, 172, 21,0.7);
}

#menu {
   display: inline-block;
   width:82%;
   height: 7%;
   background-color: #283142;
   float: right;
   box-shadow: 5px 0px 6px black;


}
#indicemenu {
   height: 100%;
   width: 60%;
   text-align: center;
   overflow: hidden;
   display: inline-block;

}
#indicemenu > a {
   text-decoration: none;
   color: rgb(190, 190, 190);
   margin-left: 3%;
   margin-right: 5%;
   position: relative;
   top:30%;
   font-size: 17px;
}
#indicemenu > a:first-child {
   color: rgb(147, 168, 145);
}
#indicemenu > a:hover {
   color:rgb(231, 172, 21);
}
#botonlogout {
   height: 100%;
   background-image: url("img/logout.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 80%;
   display: inline-block;
   cursor: pointer;
}
#limitemenu {
   display: inline-block;
   height: 70%;
   width: 1px;
   background-color: rgb(190, 190, 190);
   margin-left: 1.5%;
   margin-bottom: 5px;
}
#onlineusers {
   color: rgb(190, 190, 190);
   position: relative;
   top:-35%;
   display: inline-block;
   margin-left: 3%;
}
#balancemenu {
   display: inline-block;
   position: relative;
   float: right;
   height: 100%;
   width: 15%;
   background-image: url("img/balance.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100%;
}
#balancemenutexto {
   width: 75%;
   height: 50%;
   float: right;
   position: relative;
   top:25%;
   font-weight: 600;
   font-size: 20px;
   color: rgba(255, 255, 255, 0.85);
   text-align: center;
   overflow: hidden;
}
